.volume-classe {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

.volume-classe select {
    margin-bottom: 0.5rem;
}

.volume-classe-container button {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.classe-choix-voie {
    position: relative;
    bottom: 0.8rem;
}

.classe-table {
    position: relative;
    right: 4rem;
    margin-top: 2rem;
}