.volume-route {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
}

.volume-route select {
    margin-bottom: 0.5rem;
}