.exportation-rapports {
    text-align: center;
    margin-top: 4rem;
    padding-top: 0.5rem;
    border: 1px #d4f8e8 solid;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;   
}

button {
    margin-right: 2rem;
}

.exporter-btn {
    margin-top: 3rem;
}

.exporter-btn i {
    margin-right: 0.5rem;
}